.site-main-header {
    position: relative;
    .trigger {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        padding: 0 1.5rem;
        @include media($medium) {
            display: none;
        }
        a.logo {
            max-width: 13rem;
            display: inline-block;
            margin-top: 2rem;
            img {
                width: 100%;
            }
            @include media($medium) {
                display: none;
            }
        }
        a.menu {
            display: flex;
            flex-direction: column;
            span {
                background-color: #fff;
                width: 20px;
                height: 2px;
                margin-bottom: 5px;
            }
        }
    }
    nav {
        position: absolute;
        width: 50%;
        left: 0;
        z-index: 2;
        top: 0rem;
        height: 100vh;
        left: -50%;
        background-color: #fff;
        transition: 0.5s ease-in-out;
        @include media($medium) {
            background-color: transparent;
            width: 100%;
            top: 2rem;
            height: auto;
            left: auto;
        }
        &.open {
            left: 0;
        }
    }
    .main-navigation {
        display: flex;
        flex-direction: column;
        @include media($medium) {
            flex-direction: row;
        }
        ul {
            margin: 0;
            display: flex;
            align-items: flex-start;
            flex-flow: wrap;
            width: 100%;
            @include media($medium) {
                flex-direction: row;
                align-items: flex-end;
                width: auto;
            }
            li {
                display: inline-block;
                margin-bottom: 1.5rem;
                width: 100%;
                @include media($medium) {
                    margin-bottom: 0;
                    width: auto;
                }
                a {
                    color: $base-blue;
                        margin-right: 2.8rem;
                    font-size: 1.4rem;

                    @include media($medium) {
                        color: #fff;
                    }

                    @include media($large) {
                        font-size: 1.8rem;
                    }
                    
                    &.btn {
                        position: relative;
                        top: 1rem;
                        margin-right: 2.8rem;
                        &:last-child {
                            margin-right: 0; 
                        } 
                        &.secondary {
                            color: #fff;
                        }
                    }
                } 
                &.button-list {
                    display: flex;
                    justify-content: space-between; 
                    flex-flow:column;
                    @include media($medium) {
                        display: inline-block;
                    }
                        a.btn {
                            padding: 7.5px 23px;
                            margin-right: 0;
                            margin-bottom: 15px;
                            @include media($medium) {
                                margin-right: 2.8rem;
                                margin-bottom: 0px;
                                width: auto;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            @include media($default) {
                                padding: 7.5px 47px;
                            }
                        }
                    }
                
            }
        } 
        .left-nav {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include media($medium) {
                align-items: flex-end;
                width: 50%;
                flex-direction: row;
            }
            ul {
                padding-top: 3rem;
                @include media($medium) {
                    padding-top: 0;
                }
                li {
                    
                &:last-child {
                    a {
                        margin-right: 0;
                    }   
                }
                }
            }
            .logo{
                max-width: 16rem;
                position: relative;
                margin-right: 2.8rem;
                margin-bottom: 3rem;
                top: 2rem;
                @include media($medium) {
                    top: -0.5rem;
                    margin-bottom: 0;
                    display: block;
                }
                img {
                    width: 100%;
                }
            }
        }
        .right-nav {
            width: 100%;
            display: flex;
            align-items: flex-start;

            @include media($medium) {
                align-items: flex-end;
                width: 50%;
                flex-direction: row;
            }
        }
    }

    .site-banner {
        width: 100%;
        height: calc(100vh - 30rem);
        background-image: url(../img/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 600px; 
        background-position: center center;
        position: relative;
        @include media($medium) {
            height: calc(100vh - 10rem);
        }
        &::before {
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: auto;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        @include media($xxlarge) {
            max-height: 800px; 
        }
        .container,.row,.col {
            height: 100%;
        }
        .inner-content {
            color: #fff;
            position: absolute;
            top: calc(50% - 65px);
            transform: translateY(-50%);
            text-align: center;
            @include media($medium) {
                top: 50%;
                text-align: left;
            }
            h1 {
                font-size: 4.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }

}
body {
    background-color: #000;
}


