// // =============================================================================
// //  BUTONS
// // =============================================================================
.btn {
	display: inline-block;
    font-size: 1.2rem;
    border: 1px solid #00b549;
    border-radius: 8px;
    padding: 7.5px 47px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
	@include transition;
	&:hover {
		background-color: #00b549;
		color: #fff;
		border: 1px solid transparent;
	}
	&.secondary {
		background-color: #00b549;
		color: #fff;
		border: 1px solid transparent;
		&:hover  {
			color: #fff;
			background-color: transparent;
			border-color: $border-color;
		}
	}
}