.global-heading {
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
    h2,p {
        color: $base-blue;
    }
    ul {
        padding-top: 5rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

body.hidden {
    overflow: hidden;
}

.article-section {
    padding: 5rem 0 10rem 0;
    &.f-a-section {
        background-color: $base-blue;
        .global-heading {
            h2,p {
                color: #fff;
            }
        }
        .artcile-slider {
            display: flex;
            .artcile-slides {
                &.slick-slide {
                    margin: 0 12px;
                    @include media($medium) {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    &.t-t-section {
        background-color: #fff;
        .artcile-slider {
            flex-flow: wrap;
            justify-content: space-between;
            .artcile-slides {
                width: 100%;
                margin-bottom: 3rem;
                margin: 0 1rem;
                @include media($medium) {
                    width: calc(100% / 3 - 1.5rem);
                    margin: 0;
                    margin-bottom: 2.5rem;
                }
            }
            .slick-list {
                padding: 0 !important;
                .slick-track {
                    left: 21px;
                } 
            }
        }
    }
    .artcile-slider {
        display: flex;
        .artcile-slides {
            border-radius: 10px;
            overflow: hidden;
            height: 450px;
            position: relative;
            @include media($medium) {
                height: 500px;
                margin-bottom: 3rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &::before {
                content: "";
                background-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: 0;
                left: 0;
                z-index: auto;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            .captions {
                color: #fff;
                position: absolute;
                bottom: 3rem;
                padding: 0 3rem;
                h1 {
                    font-size: 3rem;
                    
                }
                p {
                    font-size: 1.6rem;
                }
                a {
                    font-size: 1.6rem;
                    color: #c3c668;
                    text-decoration: underline;
                }
            }
        }
        .slick-list {
            padding: 0 !important;
            .slick-track {
                left: 21px;
                @include media($medium) {
                    left: auto;
                }
            } 
        }
    }
}