.page-content {
    display: flex;
    .main-content {
        padding: 4rem 0;
        width: calc(100% - 549px);
        background-color: white;
        margin: 0 2px;
        margin-top: 4rem;
    }
    .side-bar {
        width: 32.8rem;
        margin-top: 4rem;
    }
}