.slick-slider {
    position: relative;
    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: -5rem;
        cursor: pointer;
        li {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            border: 1px solid #fff;
            margin: 0 1rem;
            &.slick-active {
                background-color: #fff;
            }
            button {
                font-size: 0;
                border: 0;
                visibility: hidden;
            }
        }
    }
}
